VITE_BACKEND_URL=http://localhost:3001

VITE_AWS_REGION=us-east-1
VITE_USER_POOL_ID=us-east-1_xxxxxxxxx
VITE_USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxx
VITE_COGNITO_DOMAIN=your-app-domain.auth.us-east-1.amazoncognito.com

VITE_MAP_API_KEY=v1.public.xxxxxxx...
VITE_GEOFENCE_COLLECTION=TrackingDATN-GeofenceCollection

VITE_MAP_STYLE=Standard
VITE_MAP_COLOR_SCHEME=Light

